#bpps-current-status {
    font-size: 80%;
    color: #aaa;
    overflow: hidden;
    margin: 10px 0 5px 0;
}

#bpps-current-status a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: none;
}

#bpps-current-status-text {
    margin-right: 10px;
}

.bpps-old-statuses {
    clear: both;
}

.bpps-old-statuses .bpps-old-statuses-table td:last-child {
    width: 25%;
    text-align: center;
}

.bpps-old-statuses .bpps-old-statuses-table td:last-child a {
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
}

.bpps-old-statuses .bpps-old-statuses-table td:first-child {
    text-align: left;
}

.bpps-add-new > span {
    float: right;
}

.bpps_hide {
    display: none;
}

.bpps-status {
    font-size: 80%;
    color: #aaa;
}

#members-list .bpps-set-status {
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    border-bottom: none;
}
